html {
  scroll-padding-top: 113px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/background.svg");
}

.upper-area {
  background-color: #f0b942;
  color: white;
  width: 100%;
  padding: 5px 0px;
}
.menu {
  background-color: #004b64;
  color: white;
  width: 100%;
  height: 80px;
}
.nav-link {
  margin-right: 1em !important;
  margin-bottom: 1em !important;
}
.nav-link:hover {
  background: #f0b942;
  color: #004b64;
  border-radius: 10px;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-nav {
  background: #004b64 !important;
  color: white;
}
.navbar-toggler {
  background: #fff !important;
  color: black;
  border: 1px solid black;
}
.wrapper {
  margin-top: 113px;
}
h1 {
  color: #f0b942;
}
p {
  text-align: justify;
  color: white;
}
.about {
  padding: 1em;
  background-color: #004b64;
}
.card {
  background-color: #f0b942 !important;
  margin: 25px;
}
.card:hover {
  opacity: 0.6;
  transition: all 0.2s ease;
}
.card-body h5 {
  color: #004b64;
}
.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  float: left;
  margin-left: 5px;
}
.flip-card1 {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  float: left;
  margin-left: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back1,
.flip-card-front1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #f0b942;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-front1 {
  background-color: #f0b942;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back1 {
  background-color: #004b64;
  color: white;
}
#reach {
  background-color: #004b64;
}
.btn {
  background-color: #f0b942;
  color: #004b64;
  width: 100px;
}
.footer {
  background-color: #f0b942;
  color: white;
  width: 100%;
  padding: 7px 0px;
}
.footer p {
  text-align: center;
}
#success {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 95px;
  color: green;
  display: none;
}
#warning {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 95px;
  color: red;
  display: none;
}
#success1 {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 205px;
  color: green;
  display: none;
}
#warning1 {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 205px;
  color: red;
  display: none;
}
#success2 {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 350px;
  color: green;
  display: none;
}
#warning2 {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 350px;
  color: red;
  display: none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #shape {
    display: none !important;
  }
  .home {
    display: none !important;
  }
  .ico {
    display: none !important;
  }
  .contactImg {
    display: none !important;
  }
  #reach h1 {
    font-size: 25px;
    text-align: center;
  }
  #success {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 75px;
    color: green;
    display: none;
  }
  #warning {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 75px;
    color: red;
    display: none;
  }
  #success1 {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 185px;
    color: green;
    display: none;
  }
  #warning1 {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 185px;
    color: red;
    display: none;
  }
  #success2 {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 350px;
    color: green;
    display: none;
  }
  #warning2 {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 350px;
    color: red;
    display: none;
  }
  .cont {
    font-size: 14px;
  }
  .upper-area .container {
    text-align: center;
  }
  .abt h1 {
    font-size: 25px;
    text-align: center
}
